@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/noto-sans-v37-latin-300.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/noto-sans-v37-latin-300italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/noto-sans-v37-latin-regular.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/noto-sans-v37-latin-italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/noto-sans-v37-latin-500.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 500;
    src: url(/fonts/noto-sans-v37-latin-500italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/noto-sans-v37-latin-600.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 600;
    src: url(/fonts/noto-sans-v37-latin-600italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/noto-sans-v37-latin-700.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/noto-sans-v37-latin-700italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 800;
    src: url(/fonts/noto-sans-v37-latin-800.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 800;
    src: url(/fonts/noto-sans-v37-latin-800italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/noto-sans-v37-latin-900.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 900;
    src: url(/fonts/noto-sans-v37-latin-900italic.woff2) format("woff2");
    font-display: swap;
  }
}

@layer components {
  .header {
    @apply bg-navbar-color-pri flex justify-between py-2 md:py-3 px-2 sm:px-4 md:px-8 mb-10 sticky top-0 z-10;
  }

  .header-logo-text {
    @apply text-font-color-pri text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-2 sm:mt-3 lg:mt-4 font-black;
  }

  .header-logo-svg {
    @apply h-9 sm:h-12 md:h-16 lg:h-18 w-min;
  }

  .header-logo-svg .body-outline {
    stroke-width: 11.25;
    @apply stroke-font-color-pri;
  }

  .header-logo-svg .eyes-outline {
    stroke-width: 7.5;
  }

  .header-logo-svg .brain-divider-line {
    stroke-width: 6.25;
    @apply stroke-font-color-pri;
  }

  .header-logo-svg .brain-curves {
    stroke-width: 4.15;
    @apply stroke-font-color-pri;
  }

  .home-logo-svg {
    @apply h-20 sm:h-24 md:h-32 lg:h-40 xl:h-48 w-min;
  }

  .home-logo-svg .body-outline {
    stroke-width: 9.5;
    @apply stroke-font-color-pri;
  }

  .home-logo-svg .eyes-outline {
    stroke-width: 6.75;
  }

  .home-logo-svg .brain-divider-line {
    stroke-width: 6.25;
    @apply stroke-font-color-pri;
  }

  .home-logo-svg .brain-curves {
    stroke-width: 3.5;
    @apply stroke-font-color-pri;
  }

  .scroll-up-btn {
    @apply hidden fixed bottom-4 right-4 transition z-[5] w-10 h-10 rounded-full bg-font-color-sec text-font-color-white hover:text-font-color-pri;
  }

  .side-navmenu-border {
    @apply border-solid border-[1px] border-font-color-pri my-3 md:my-5;
  }

  .view-all-btn {
    @apply text-font-color-white bg-font-color-green hover:text-font-color-pri text-base sm:text-lg px-5 sm:px-7 py-2 sm:py-3 font-bold rounded-lg;
  }

  .course-card-grid {
    @apply grid [grid-template-columns:repeat(auto-fit,minmax(300px,max-content))] lg:[grid-template-columns:repeat(auto-fit,minmax(360px,max-content))] xl:[grid-template-columns:repeat(auto-fit,minmax(380px,max-content))] justify-center justify-items-center place-content-center gap-y-5 sm:gap-y-[30px] md:gap-y-10 gap-x-5 md:gap-x-10 mb-24;
  }

  /* .course-carousel-container {
    @apply relative overflow-hidden [scroll-snap-type:x,mandatory] mx-auto mb-10 w-[300px] md:w-[680px] lg:w-[730px] xl:w-[1175px] 2xl:w-[1220px];
  } */

  .course-carousel-container {
    @apply overflow-hidden mx-auto mb-10 w-[300px] md:w-[680px] lg:w-[730px] xl:w-[1175px] 2xl:w-[1220px];
  }

  .course-carousel {
    /* @apply flex flex-row transition-transform duration-500 ease-in-out gap-x-5 md:gap-x-10 mb-24; */
    @apply flex flex-row overflow-x-auto transition-transform duration-500 ease-in-out gap-x-5 md:gap-x-10 [scroll-behavior:smooth] [scrollbar-width:none];
  }

  .course-card {
    @apply flex-shrink-0 flex flex-col items-center justify-between gap-2 box-border h-full w-[300px] md:w-[320px] lg:w-[345px] xl:w-[365px] 2xl:w-[380px] rounded-xl bg-navbar-color-pri p-5 border-2 border-b-6 border-color-border-pri hover:border-font-color-pri;
  }

  .course-card-image {
    @apply w-24 md:w-32 h-auto;
  }

  .course-card-heading {
    @apply text-center font-extrabold text-xl md:text-2xl text-font-color-sec mb-3;
  }

  /* .course-card-border {
    @apply w-full border-solid border-[0.25px] border-color-border-pri mb-3;
  } */

  .course-card-desc {
    @apply text-[14px] md:text-base text-center mb-2;
  }

  .course-card-duration {
    @apply text-[14px] md:text-base flex flex-row items-center justify-center gap-2;
  }

  .course-card-tags-container {
    @apply flex flex-row flex-wrap gap-3 justify-center items-center;
  }

  .course-card-tags {
    @apply text-[14px] md:text-base bg-font-color-blue text-font-color-white font-semibold py-1 px-2 rounded-md;
  }

  /* Hide scrollbar for Chrome/Safari/Edge */
  /* .course-carousel::-webkit-scrollbar {
    @apply hidden;
  } */

  .swiper-slide {
    @apply !h-auto;
  }

  .swiper-slide.insufficient-slide {
    @apply !w-min;
  }

  .swiper-wrapper.insufficient-slides {
    justify-content: center;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: "" !important;
  }

  .carousel-nextBtn,
  .carousel-prevBtn {
    @apply text-3xl md:text-4xl;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static !important;
    /* top: var(--swiper-navigation-top-offset, 50%); */
    width: auto !important;
    height: auto !important;
    margin-top: 0px !important;
    z-index: 5 !important;
    /* cursor: pointer; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    color: inherit !important;
  }

  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: static !important;
    /* left: var(--swiper-scrollbar-sides-offset, 1%);
    bottom: var(--swiper-scrollbar-bottom, 4px);
    top: var(--swiper-scrollbar-top, auto); */
    z-index: 5 !important;
    /* height: 100% !important; */
    height: 5px !important;
    /* width: auto !important; */
    width: 35% !important;
  }

  .progress-bar-container {
    @apply w-[35%] h-[5px] bg-color-border-pri rounded-lg;
  }

  .swiper-scrollbar {
    @apply !bg-color-border-pri !rounded-lg;
    /* border-radius: inherit !important; */
    position: static !important;
    touch-action: none;
    /* background: inherit !important; */
  }

  .swiper-scrollbar-drag {
    /* height: 100%; */
    /* width: 100%; */
    /* position: relative; */
    background: inherit !important;
    border-radius: inherit !important;
    /* left: 0; */
    /* top: 0 */
  }
}
