---
import BaseLayout from "../layouts/BaseLayout.astro";

const metadata = {
  title: "About Us - V.Vidhya | Computer Education for All in Surat",
  description:
    "Learn top computer courses at V.Vidhya in Surat. From programming to graphic design, boost your skills and indulge your creativity to do real work with the help of technology.",
};
---

<BaseLayout
  metadata={metadata}
  includeLottieAnimScript={false}
  navSection="about"
>
  <main
    class="mx-auto my-20 px-5 max-w-mdsm sm:max-w-lg md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
  >
    <section>
      <h2
        class="text-center text-font-color-green text-3xl md:text-5xl font-extrabold mb-10"
      >
        About Us
      </h2>

      <div class="text-left">
        <p class="mb-[6px]">
          At <span class="font-bold">V.Vidhya (Virtual Vidhya)</span>, we
          believe that education is not just about learning new skills - it's
          about empowerment for a better future and beyond that, it should be
          about the enhancement for a wholesome life. Our institute is dedicated
          to making computer education accessible to everyone, helping students,
          professionals, senior citizens and lifelong learners build a strong
          foundation in the digital world.
        </p>
        <p class="mb-[6px]">
          We started with a simple vision - to bridge the gap between people and
          technology. Today, as the world moves forward into the digital age, we
          continue to evolve - serving as a catalyst for personal growth,
          inspiring creativity and nurturing confidence.
        </p>
        <p>
          Through it all, we stay true to our belief that education should be a
          guiding light, a tool for self-growth and a virtual path to endless
          possibilities. That's what V.Vidhya stands for - "<span
            class="font-bold">Your Virtual Path to Knowledge</span
          >."
        </p>
      </div>
    </section>

    <section>
      <h3
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-14 mb-5"
      >
        Our Journey
      </h3>

      <div
        class="flex flex-row gap-x-4 gap-y-0 flex-wrap items-center justify-center mb-2"
      >
        <img
          src="/images/logo-icons/foundation-forum-logo.svg"
          alt="foundation-forum-logo"
          class="h-14 sm:h-18 md:h-20 lg:h-24 aspect-[234/132]"
          decoding="async"
          loading="lazy"
        />
        <img
          src="/images/logo-icons/visual-logo.svg"
          alt="visual-logo"
          class="h-9 sm:h-12 md:h-14 lg:h-18 aspect-[209/41]"
          decoding="async"
          loading="lazy"
        />
        <img
          src="/images/logo-icons/vvidhya-logo-bold.svg"
          alt="visual-logo"
          class="h-16 sm:h-18 md:h-[90px] lg:h-28 aspect-square"
          decoding="async"
          loading="lazy"
        />
      </div>

      <div class="text-left">
        <p class="mb-[6px]">
          You may have known us as <span class="font-bold"
            >Foundation Forum</span
          >
          - that's where it all began. A small initiative driven by passion soon
          became a place where students discovered their potential in the world of
          technology.
        </p>
        <p class="mb-[6px]">
          Over time, we expanded our reach and collaborated with <span
            class="font-bold">Visual Software & Multimedia</span
          >.
        </p>
        <p>
          Now, we take a new step forward as an independent entity, <span
            class="font-bold">V.Vidhya (Virtual Vidhya)</span
          >. This name reflects both our roots in the Indian knowledge system
          and our vision for the future - blending tradition with modern digital
          education.
        </p>
      </div>
    </section>

    <section>
      <h3
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-14 mb-5"
      >
        Meet our Founder
      </h3>

      <div class="flex flex-col justify-center items-center gap-2">
        <img
          src="/images/about-page/founder-photo.webp"
          alt="foundation-forum-logo"
          class="w-[250px] sm:w-[400px] md:w-[550px] lg:w-[700px] 2xl:w-[800px] aspect-[1.5]"
          decoding="async"
          loading="lazy"
        />

        <div class="text-left">
          <p class="mb-[6px]">
            <span class="font-bold">Meera Desai</span>, the driving force behind
            V.Vidhya, has always witnessed the power of education throughout her
            life. With over 25 years of experience in the field, she has seen
            how technology can change lives. That's why she always goes above
            and beyond to provide a welcoming, practical and engaging learning
            space for everyone.
          </p>
          <p class="mb-[6px]">
            Her journey with computers began the day she first laid eyes on one
            - it was fascination at first sight. She was drawn to the endless
            possibilities hidden within those screens. From a young age, she
            started learning from her high school teacher, but curiosity led her
            much further. She experimented, explored and taught herself, diving
            into different tools and technologies with an eagerness that still
            burns strong today.
          </p>
          <p class="mb-[6px]">
            After completing her education, her nurturing nature naturally led
            her to teaching. She began sharing her knowledge at various
            institutes and schools, forming deep connections with students. But
            she dreamed of something bigger - a space where she could teach
            without constraints, reach more people and shape learning in her own
            way. With nothing but her passion and determination, she
            single-handedly established her own institute. Even as a one-woman
            team, her kindness and dedication touched so many lives that soon,
            people across the city began recognizing her as "Forum Ma'am" - a
            name that originated from her first institute, Foundation Forum.
          </p>
          <p>
            Beyond technology, she cherishes every moment of teaching and
            connecting with people. Her motherly nature, filled with charm and
            an ever-positive spirit, touches hearts and leaves a lasting impact
            - whether in people's professional or personal lives.
          </p>
        </div>
      </div>
    </section>

    <section>
      <h3
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-14 mb-5"
      >
        Beyond Education - What We Do
      </h3>

      <div>
        <p class="text-left mb-[6px]">
          At V.Vidhya, learning doesn't stop at textbooks or screens - it
          extends into real-world experiences that shape confident and capable
          individuals. We are committed to bridging the digital divide and
          empowering communities through -
        </p>
        <ul class="pl-5 list-outside list-disc">
          <li>
            Workshops & Seminars: Hands-on sessions designed for students,
            professionals and organizations to explore emerging technologies and
            industry-relevant skills
          </li>
          <li>
            Community Outreach: Bringing digital literacy to those who need it
            most, from underprivileged communities to senior citizens, ensuring
            no one is left behind in the digital era
          </li>
          <li>
            Student Projects & Internships: Real-world learning opportunities
            that help students gain practical experience, preparing them for
            careers in technology and beyond
          </li>
        </ul>
      </div>
    </section>

    <section>
      <h3
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-14 mb-5"
      >
        Join Us
      </h3>

      <div>
        <p class="text-left mb-[6px]">
          We invite educators, industry experts, institutions and organizations
          to collaborate with us in our mission to make quality computer
          education accessible to all.
        </p>
        <ul class="pl-5 list-outside list-disc mb-[6px]">
          <li>
            Learners & Enthusiasts: Whether you're here to gain new skills,
            upskill your team or contribute as a mentor, there's a place for
            you at V.Vidhya
          </li>
          <li>
            Schools & Colleges: Partner with us to equip students with essential
            digital skills
          </li>
          <li>
            Corporates & Companies: Host workshops, internships and training
            programs to shape the future workforce
          </li>
        </ul>
        <p class="text-left mb-[6px]">
          Let's come together to create a future where knowledge meets purpose
          and technology becomes a tool for empowerment.
        </p>
        <p class="text-left">
          To collaborate or learn more, please <a
            href="/contact/"
            class="underline underline-offset-4 link-interaction-effect"
            >contact us</a
          >.
        </p>
      </div>
    </section>
  </main>
</BaseLayout>
