---
import BaseLayout from "../layouts/BaseLayout.astro";

const metadata = {
  title: "Contact Us - V.Vidhya | For Best Computer Education in Surat",
  description:
    "Get in touch with V.Vidhya for the best computer education in Surat. Visit our institute, call us, or drop a message to learn more about offered courses.",
};
---

<BaseLayout metadata={metadata} navSection="contact">
  <main class="my-20">
    <section
      class="flex flex-col items-center justify-center gap-3 mx-auto mb-24 max-w-mdsm md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    >
      <h2
        class="text-center text-font-color-sec text-3xl md:text-5xl font-extrabold"
      >
        Contact Us
      </h2>

      <img
        src="/images/doodles/people-doing-partnership.svg"
        alt="an Illustration of a woman doing designing"
        class="ind-course-illus"
        decoding="async"
      />
    </section>

    <section
      class="flex flex-col items-center justify-center gap-3 mx-auto mb-24 max-w-mdsm md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    >
      <h2 class="contact-section-heading">Address</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.8672665504605!2d72.79245137589098!3d21.197431181962674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04c2d21e3ffff%3A0x84eb5f824f69b049!2sVisual%20Software%20%26%20Multimedia!5e0!3m2!1sen!2sin!4v1714146551202!5m2!1sen!2sin"
        class="border-2 w-80 h-80 md:w-152 md:h-96"
        allowfullscreen=""
        loading="eager"
        referrerpolicy="no-referrer-when-downgrade"
        title="V.Vidhya Institute Google-Map Location"></iframe>
      <p class="text-center font-semibold">
        HGF-10, Samay Shopping Complex, Opposite Center Point, Anand Mahal Road,
        Adajan, Surat, Gujarat - 395009
      </p>
    </section>

    <section
      class="flex flex-col items-center justify-center gap-3 mx-auto mb-24 max-w-mdsm md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    >
      <h2 class="contact-section-heading">Mail us At</h2>
      <a
        class="font-semibold link-interaction-underline-effect underline-offset-8"
        href="mailto:admin@vvidhya.com"
        target="_blank"
        rel="noopener noreferrer"
        title="Email">contact@vvidhya.com</a
      >
    </section>

    <section
      class="flex flex-col items-center justify-center gap-3 mx-auto mb-24 max-w-mdsm md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    >
      <h2 class="contact-section-heading">Call us On</h2>
      <a
        class="font-semibold link-interaction-underline-effect underline-offset-8"
        href="tel:+919429267900"
        target="_blank"
        rel="noopener noreferrer"
        title="Email">+91-9429267900</a
      >
    </section>

    <form
      name="contact"
      method="POST"
      id="form"
      action="/api/submit-contact-form"
      class="mx-auto mb-24 max-w-xs sm:max-w-md md:max-w-2xl lg:max-w-4xl 2xl:max-w-5xl"
    >
      <h2 class="text-center contact-section-heading mt-3 mb-9">
        Inquiry Form
      </h2>
      <fieldset
        class="flex flex-col items-center justify-center gap-5 mx-auto py-10 md:py-20 border-solid border-2 border-b-6 rounded-xl"
      >
        <div class="flex flex-col w-4/5">
          <input
            id="name"
            name="name"
            class="p-3"
            type="text"
            placeholder="Enter your name"
          />
          <!-- <i class="fas fa-exclamation-circle failure-icon opacity-0"></i> -->
          <!-- <i class="far fa-check-circle success-icon opacity-0"></i> -->
          <div class="error text-font-color-red-dark"></div>
        </div>

        <div class="w-4/5 hidden">
          <input
            id="address"
            name="address"
            class="p-3"
            type="text"
            placeholder="Enter your address"
          />
          <!-- <i class="fas fa-exclamation-circle failure-icon opacity-0"></i> -->
          <!-- <i class="far fa-check-circle success-icon opacity-0"></i> -->
          <!-- <div class="error text-font-color-red-dark"></div> -->
        </div>

        <div class="flex flex-col w-4/5">
          <input
            id="phone"
            name="phone"
            class="p-3"
            type="tel"
            placeholder="Enter your contact number"
          />
          <!-- <i class="fas fa-exclamation-circle failure-icon opacity-0"></i> -->
          <!-- <i class="far fa-check-circle success-icon opacity-0"></i> -->
          <div class="error text-font-color-red-dark"></div>
        </div>

        <div class="flex flex-col w-4/5">
          <input
            id="email"
            name="email"
            class="p-3"
            type="text"
            placeholder="Enter your email address"
          />
          <!-- <i class="fas fa-exclamation-circle failure-icon opacity-0"></i> -->
          <!-- <i class="far fa-check-circle success-icon opacity-0"></i> -->
          <div class="error text-font-color-red-dark"></div>
        </div>

        <div class="flex flex-col w-4/5">
          <input
            id="course"
            name="course"
            class="p-3"
            type="text"
            placeholder="Enter your course name"
            list="courses"
          />
          <datalist id="courses">
            <option value="Graphics Design">Graphics Design</option>
            <option value="Video Editing">Video Editing</option>
            <option value="Digital Textile Design">
              Digital Textile Design
            </option>
            <option value="Interior Design">Interior Design</option>
            <option value="UI/UX Design">UI/UX Design</option>
            <option value="Jewellery Design">Jewellery Design</option>
            <option value="Adobe Photoshop">Adobe Photoshop</option>
            <option value="Adobe Illustrator">Adobe Illustrator</option>
            <option value="Adobe After Effects">Adobe After Effects</option>
            <option value="Adobe Premier Pro">Adobe Premier Pro</option>
            <option value="Corel Draw">Corel Draw</option>
            <option value="Figma">Figma</option>

            <option value="Game Development">Game Development</option>
            <option value="Full-stack Web-Development">
              Full-stack Web-Development
            </option>
            <option value="Front-end Web-Development">
              Front-end Web-Development
            </option>
            <option value="Back-end Web-Development">
              Back-end Web-Development
            </option>
            <option value="Fundamentals of Computer Application">
              Fundamentals of Computer Application
            </option>
            <option value="C++ Programming">C++ Programming</option>
            <option value="C Programming">C Programming</option>
            <option value="Python Programming">Python Programming</option>
            <option value="Java Programming">Java Programming</option>

            <option value="Scratch Programming">Scratch Programming</option>
            <option value="MS Office">MS Office</option>

            <option value="Desktop Publishing (DTP)">
              Desktop Publishing (DTP)
            </option>
            <option value="Accounting">Accounting</option>
            <option value="Digital Marketing">Digital Marketing</option>
            <option value="Advance Excel">Advance Excel</option>
          </datalist>

          <!-- <i class="fas fa-exclamation-circle failure-icon opacity-0"></i> -->
          <!-- <i class="far fa-check-circle success-icon opacity-0"></i> -->
          <div class="error text-font-color-red-dark"></div>
        </div>

        <textarea
          class="w-4/5 p-3"
          id="message"
          name="message"
          placeholder="Enter your message here"
          cols="30"
          rows="10"
          resize="vertical"></textarea>

        <button id="submit" class="form-submit-btn" type="submit">
          Submit
        </button>
      </fieldset>
    </form>

    <div
      id="form-success-msg"
      class="hidden flex-col items-center justify-center gap-3 mx-auto mb-24 max-w-mdsm md:max-w-2xl lg:max-w-4xl"
    >
      <!-- <i class="fa-solid fa-circle-check text-font-color-sec text-5xl"></i> -->
      <div class="text-font-color-green text-5xl">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="util-icon"
          fill="currentColor"
          stroke="currentColor"
          stroke-width="5"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
          ></path></svg
        >
      </div>
      <h2 class="text-font-color-sec text-3xl md:text-5xl font-extrabold mb-3">
        Thank you!
      </h2>
      <p class="text-lg text-center">
        Your response has been submitted successfully.
      </p>
      <p class="font-bold text-center">Our team will contact you soon.</p>
    </div>
  </main>

  <slot slot="specific-scripts-slot">
    <script src="../scripts/specific/contact-form-validation.js"></script>
  </slot>
</BaseLayout>
