---
import BaseLayout from "../layouts/BaseLayout.astro";

const metadata = {
  title: "LinkTree - V.Vidhya | For Best Computer Education in Surat",
  description:
    "Get in touch with V.Vidhya for the best computer education in Surat. Visit our institute, call us, or drop a message to learn more about offered courses.",
};
---

<BaseLayout metadata={metadata} navSection="">
  <main>
    <section
      class="flex flex-col items-center justify-center gap-3 mx-auto mb-24 max-w-mdsm md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    >
      <h2
        class="text-center text-font-color-sec text-3xl md:text-5xl font-extrabold"
      >
        LinkTree
      </h2>

      <!-- <img
        src="/images/doodles/people-doing-partnership.svg"
        alt="an Illustration of a woman doing designing"
        class="ind-course-illus"
        decoding="async"
      /> -->
    </section>

    <section
      class="flex flex-col items-center justify-center gap-8 mx-auto mb-24 max-w-mdsm md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    >
      <div class="linktree-box">
        <p class="linktree-heading">Visit us at</p>
        <a
          href="https://www.google.com/maps/place/Visual+Software+%26+Multimedia/@21.197503,72.795085,16z/data=!4m6!3m5!1s0x3be04c2d21e3ffff:0x84eb5f824f69b049!8m2!3d21.1975028!4d72.7950845!16s%2Fg%2F11dxf1dmc1?hl=en&entry=ttu&g_ep=EgoyMDI1MDgzMC4wIKXMDSoASAFQAw%3D%3D"
          class="linktree-info link-interaction-underline-effect"
        >
          HGF-10, Samay Shopping Complex, Opposite Center Point, Anand Mahal
          Road, Adajan, Surat, Gujarat - 395009</a
        >
      </div>

      <div class="linktree-box">
        <p class="linktree-heading">Call us on</p>
        <a
          href="mailto:contact@vvidhya.com"
          target="_blank"
          rel="noopener noreferrer"
          title="Phone"
          class="linktree-info link-interaction-underline-effect"
        >
          +91-9429267900</a
        >
      </div>

      <div class="linktree-box">
        <p class="linktree-heading">Mail us at</p>
        <a
          href="mailto:contact@vvidhya.com"
          target="_blank"
          rel="noopener noreferrer"
          title="Email"
          class="linktree-info link-interaction-underline-effect"
        >
          contact@vvidhya.com</a
        >
      </div>

      <div class="linktree-box">
        <p class="linktree-heading">Send your inquiries</p>
        <a
          href="/contact/"
          rel="noopener noreferrer"
          title="Email"
          class="linktree-info link-interaction-underline-effect"
        >
          via this form</a
        >
      </div>

      <div class="linktree-box">
        <p class="linktree-heading">Leave a message on</p>
        <a
          href="https://wa.me/919429267900"
          target="_blank"
          rel="noopener noreferrer"
          title="WhatsApp"
          class="linktree-info link-interaction-underline-effect"
        >
          WhatsApp</a
        >
      </div>

      <div class="linktree-box">
        <p class="linktree-heading">Check our</p>
        <a
          href="https://learn.vvidhya.com/"
          target="_blank"
          rel="noopener noreferrer"
          title="Learning Platform"
          class="linktree-info link-interaction-underline-effect"
        >
          learning platform</a
        >
      </div>

      <div class="linktree-box">
        <p class="linktree-heading">Follow us on</p>
        <a
          href="https://www.instagram.com/virtual.vidhya/"
          target="_blank"
          rel="noopener noreferrer"
          title="Instagram"
          class="linktree-info link-interaction-underline-effect"
        >
          Instagram</a
        >
      </div>

      <div class="linktree-box">
        <p class="linktree-heading">Follow us on</p>
        <a
          href="https://www.facebook.com/visualsoftwareandmultimedia/"
          target="_blank"
          rel="noopener noreferrer"
          title="Facebook"
          class="linktree-info link-interaction-underline-effect"
        >
          Facebook</a
        >
      </div>

      <div class="linktree-box">
        <p class="linktree-heading">Follow us on</p>
        <a
          href="https://www.linkedin.com/company/vvidhya/"
          target="_blank"
          rel="noopener noreferrer"
          title="LinkedIn"
          class="linktree-info link-interaction-underline-effect"
        >
          LinkedIn</a
        >
      </div>
    </section>
  </main>

  <!-- <slot slot="specific-scripts-slot">
  </slot> -->
</BaseLayout>
