---
import BaseLayout from "../layouts/BaseLayout.astro";

const metadata = {
  title: "Privacy Policy - V.Vidhya | Your Data, Our Responsibility",
  description:
    "Read the privacy policy of V.Vidhya to learn how we handle your data securely and ensure transparency in our computer education services.",
};
---

<BaseLayout metadata={metadata} navSection="none">
  <main
    class="gap-3 mx-auto my-20 px-5 max-w-mdsm sm:max-w-lg md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
  >
    <h2
      class="text-center text-font-color-pri text-3xl md:text-5xl font-extrabold mt-3 mb-5"
    >
      Privacy Policy
    </h2>

    <!-- <h4
        class="text-center text-font-color-pri text-xl md:text-3xl font-extrabold mt-3 mb-10"
      >
        For All Students
      </h4> -->

    <section class="flex flex-col">
      <!-- <ul class="text-justify list-outside list-disc mx-auto px-10">
          course offered by V.Vidhya Institute, you agree to
          abide by these terms and conditions.
        </ul> -->

      <h4
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-10 mb-5"
      >
        Information We Collect
      </h4>

      <div class="text-left flex flex-col gap-4">
        <div>
          <p>
            When you submit an inquiry through our contact form, we collect the
            following information:
          </p>
          <ul
            class="inline-flex gap-x-8 pl-5 md:pl-0 list-outside md:list-inside list-disc flex-wrap"
          >
            <li>Name</li>
            <li>Contact Number</li>
            <li>Email Address</li>
            <li>Course of Interest</li>
            <li>Any additional message you include</li>
          </ul>
        </div>

        <p>
          This information is used solely for the purpose of responding to your
          inquiries. We do not share this information with third parties or use
          it for any form of push marketing.
        </p>
      </div>

      <h4
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-10 mb-5"
      >
        Website Analytics
      </h4>

      <div class="text-left flex flex-col gap-4">
        <p>
          We use a privacy-focused, self-hosted analytics tool. Here's how it
          protects your privacy:
        </p>

        <div>
          <ul class="pl-5 list-outside list-disc">
            <li>
              <span>No personal data is collected:</span> It does not collect or
              store any personal information about visitors.
            </li>
            <li>
              <span>Anonymized data:</span> All visitor data (i.e. pages visited,
              time spent on the website, browser and device type etc.) is anonymized
              to ensure your privacy.
            </li>
            <li>
              <span>No cookies:</span> It does not use any type of cookies. (Cookies
              are small files stored on your device that websites use to remember
              information about your preferences or activity. Since our analytics
              do not use cookies, you can browse our site without worrying about
              these tracking mechanisms.)
            </li>
          </ul>
        </div>

        <p>
          This data helps us understand how our website is used and improve its
          content and performance, all while ensuring your anonymity.
        </p>
      </div>

      <h4
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-10 mb-5"
      >
        How We Use Your Information
      </h4>

      <div class="text-left flex flex-col gap-4">
        <div>
          <p>
            The information you provide through the contact form is used solely
            for the purpose of:
          </p>

          <ul
            class="inline-flex gap-x-8 pl-5 md:pl-0 list-outside md:list-inside list-disc flex-wrap"
          >
            <li>Responding to your inquiries</li>
            <li>
              Providing you with information about our courses and services
            </li>
          </ul>
        </div>

        <div>
          <p>We do not:</p>

          <ul
            class="inline-flex gap-x-8 pl-5 md:pl-0 list-outside md:list-inside list-disc flex-wrap"
          >
            <li>Share your data with third parties</li>
            <li>
              Use your data for marketing purposes unless explicitly requested
            </li>
          </ul>
        </div>
      </div>

      <h4
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-10 mb-5"
      >
        Your Data Rights
      </h4>

      <div class="text-left flex flex-col gap-4">
        <div>
          <p>As a user, you have the right to:</p>

          <ul
            class="inline-flex gap-x-8 pl-5 md:pl-0 list-outside md:list-inside list-disc flex-wrap"
          >
            <li>Access the data we hold about you</li>
            <li>Request corrections to your data</li>
            <li>Request deletion of your data</li>
          </ul>
        </div>

        <p>
          If you wish to exercise these rights, please contact us at
          <a
            href="mailto: contact@vvidya.com"
            class="underline underline-offset-4 link-interaction-effect"
            >contact@vvidhya.com</a
          >.
        </p>
      </div>

      <h4
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-10 mb-5"
      >
        Links to Other Sites
      </h4>

      <div class="text-left flex flex-col gap-4">
        <p>
          Our website may contain links to other websites. If you click on a
          third-party link, you will be directed to that site. Please note that
          we do not operate these external websites and are not responsible for
          their content, privacy practices, or policies. We encourage you to
          review their privacy policies to understand how they handle your data.
        </p>
      </div>

      <h4
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-10 mb-5"
      >
        Third-Party Services
      </h4>

      <div class="text-left flex flex-col gap-4">
        <p>
          Our website utilizes third-party services for hosting, analytics and
          performance optimization. All these services follow industry-standard
          security protocols to protect your data. While these services may
          process technical data (e.g., IP addresses, browser types, device
          types etc. ) to enable the functionality of the website, no personal
          information is stored or shared.
        </p>
      </div>

      <h4
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-10 mb-5"
      >
        Online Privacy Policy Only
      </h4>

      <div class="text-left flex flex-col gap-4">
        <p>
          This privacy policy applies only to our online activities and is valid
          for visitors to our website regarding the information they share
          and/or we collect on this website. It does not apply to any
          information collected offline or through channels other than this
          website.
        </p>
      </div>

      <h4
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-10 mb-5"
      >
        Children's Privacy
      </h4>

      <div class="text-left flex flex-col gap-4">
        <p>
          Our website is intended for a general audience. We do not knowingly
          collect personal information from children under 13 without parental
          consent. If we become aware that we have inadvertently collected such
          information, we will take steps to delete it promptly.
        </p>
      </div>

      <h4
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-10 mb-5"
      >
        Data Retention
      </h4>

      <div class="text-left flex flex-col gap-4">
        <p>
          We retain your data for as long as necessary to fulfill the purpose
          for which it was collected. Contact form data is stored securely and
          deleted once it is no longer required.
        </p>
      </div>

      <h4
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-10 mb-5"
      >
        Changes to This Privacy Policy
      </h4>

      <div class="text-left flex flex-col gap-4">
        <p>
          We may update this privacy policy from time to time to reflect changes
          in our practices or legal requirements. Updates will be posted on this
          page with the date of the latest revision.
        </p>
      </div>

      <h4
        class="text-left text-font-color-sec text-xl md:text-3xl font-extrabold mt-10 mb-5"
      >
        Consent
      </h4>

      <div class="text-left flex flex-col gap-4">
        <p>
          By using our website, you consent to our Privacy Policy and agree to
          its terms.
        </p>

        <br />

        <p>
          If you have any questions or concerns about this privacy policy,
          please contact us at
          <a
            href="mailto: contact@vvidya.com"
            class="underline underline-offset-4 link-interaction-effect"
            >contact@vvidhya.com</a
          >.
        </p>
      </div>
    </section>
  </main>
</BaseLayout>
