---
import LinkPage from "./LinkPage.astro";
import IconCircleArrowLeft from "./icons/IconCircleArrowLeft.astro";
import IconCircleArrowRight from "./icons/IconCircleArrowRight.astro";

interface Props {
  courseCategoryName: string;
  courseSubPageLink: string;
  isLastSection?: boolean;
}

const {
  courseCategoryName = "",
  courseSubPageLink = "",
  isLastSection = false,
} = Astro.props;
---

<section class="w-full" class:list={[{ "mb-24": !isLastSection }]}>
  <h2
    class="text-center text-font-color-sec text-3xl md:text-5xl font-extrabold mb-10"
  >
    {courseCategoryName} Courses
  </h2>

  <div class="swiper-container course-carousel-container">
    <div style="transform: translateX(0)" class="swiper-wrapper">
      <slot />
    </div>
  </div>

  <div class="w-full flex flex-row justify-center items-center gap-5">
    <button
      class="swiper-button-prev carousel-prevBtn"
      aria-label="Scroll To Previous Course"
    >
      <IconCircleArrowLeft styleClass="course-nav-btn" />
    </button>

    <div class="swiper-scrollbar"></div>

    <button
      class="swiper-button-next carousel-nextBtn"
      aria-label="Scroll To Next Course"
    >
      <IconCircleArrowRight styleClass="course-nav-btn" />
    </button>
  </div>

  <div class="flex justify-center w-full">
    <LinkPage
      href=`/courses/${courseSubPageLink}/`
      title="View All"
      class="view-all-btn small-btn"
    />
  </div>
</section>
