@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 300;
    src: url(../public/fonts/noto-sans-v37-latin-300.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 300;
    src: url(../public/fonts/noto-sans-v37-latin-300italic.woff2)
      format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 400;
    src: url(../public/fonts/noto-sans-v37-latin-regular.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 400;
    src: url(../public/fonts/noto-sans-v37-latin-italic.woff2)
      format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 500;
    src: url(../public/fonts/noto-sans-v37-latin-500.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 500;
    src: url(../public/fonts/noto-sans-v37-latin-500italic.woff2)
      format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 600;
    src: url(../public/fonts/noto-sans-v37-latin-600.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 600;
    src: url(../public/fonts/noto-sans-v37-latin-600italic.woff2)
      format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 700;
    src: url(../public/fonts/noto-sans-v37-latin-700.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 700;
    src: url(../public/fonts/noto-sans-v37-latin-700italic.woff2)
      format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 800;
    src: url(../public/fonts/noto-sans-v37-latin-800.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 800;
    src: url(../public/fonts/noto-sans-v37-latin-800italic.woff2)
      format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 900;
    src: url(../public/fonts/noto-sans-v37-latin-900.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 900;
    src: url(../public/fonts/noto-sans-v37-latin-900italic.woff2)
      format("woff2");
    font-display: swap;
  }
}

@layer components {
  .course-card {
    @apply flex flex-col items-center justify-between box-border max-w-[300px] md:max-w-[320px] lg:max-w-[345px] 2xl:max-w-[400px] gap-2 h-auto rounded-xl bg-navbar-color-pri p-5 border-2 border-b-6 border-color-border-pri hover:border-font-color-pri;
  }
}