@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 300;
    src: url(/public/fonts/noto-sans-v37-latin-300.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 300;
    src: url(/public/fonts/noto-sans-v37-latin-300italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 400;
    src: url(/public/fonts/noto-sans-v37-latin-regular.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 400;
    src: url(/public/fonts/noto-sans-v37-latin-italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 500;
    src: url(/public/fonts/noto-sans-v37-latin-500.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 500;
    src: url(/public/fonts/noto-sans-v37-latin-500italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 600;
    src: url(/public/fonts/noto-sans-v37-latin-600.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 600;
    src: url(/public/fonts/noto-sans-v37-latin-600italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 700;
    src: url(/public/fonts/noto-sans-v37-latin-700.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 700;
    src: url(/public/fonts/noto-sans-v37-latin-700italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 800;
    src: url(/public/fonts/noto-sans-v37-latin-800.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 800;
    src: url(/public/fonts/noto-sans-v37-latin-800italic.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 900;
    src: url(/public/fonts/noto-sans-v37-latin-900.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans";
    font-style: italic;
    font-weight: 900;
    src: url(/public/fonts/noto-sans-v37-latin-900italic.woff2) format("woff2");
    font-display: swap;
  }
}

@layer components {
  .course-card-grid {
    @apply grid [grid-template-columns:repeat(auto-fit,minmax(300px,max-content))] lg:[grid-template-columns:repeat(auto-fit,minmax(360px,max-content))] xl:[grid-template-columns:repeat(auto-fit,minmax(380px,max-content))] justify-center justify-items-center place-content-center gap-y-5 sm:gap-y-[30px] md:gap-y-10 gap-x-5 md:gap-x-10 mb-24;
  }

  .course-card {
    @apply flex-shrink-0 flex flex-col items-center justify-between box-border w-[300px] md:w-[320px] lg:w-[345px] xl:w-[365px] 2xl:w-[380px] gap-2 h-auto rounded-xl bg-navbar-color-pri p-5 border-2 border-b-6 border-color-border-pri hover:border-font-color-pri;
  }

  .course-carousel-container {
    @apply relative overflow-hidden mx-auto mb-10 w-[300px] md:w-[680px] lg:w-[730px] xl:w-[1175px] 2xl:w-[1220px];
  }

  .course-carousel {
    /* @apply flex flex-row transition-transform duration-500 ease-in-out gap-x-5 md:gap-x-10 mb-24; */
    @apply flex flex-row overflow-x-auto transition-transform duration-500 ease-in-out gap-x-5 md:gap-x-10 [scroll-behavior:smooth] [scrollbar-width:none];
  }

  .course-carousel::-webkit-scrollbar {
    @apply hidden; /* Hide scrollbar for Chrome/Safari/Edge */
  }

  .course-carousel-dots {
    @apply flex justify-center gap-[0.5rem];
  }
  
  .course-carousel-dots button {
    @apply w-[10px] h-[10px] border-none [border-radius:50%] bg-color-border-pri cursor-pointer [transition:background,0.3s];
  }
  
  .course-carousel-dots button.active {
    @apply bg-font-color-pri;
  }
}
