---
import IndCourseDetailsLayout from "../../../layouts/IndCourseDetailsLayout.astro";

const metadata = {
  title: "Learn Digital Marketing at V.Vidhya",
  description:
    "Get certified in Digital Marketing at V.Vidhya in Surat. Learn SEO, Google Ads, Social Media Marketing, Content Strategy & more.",
};

const courseDetails = {
  name: "Digital Marketing",
  duration: "2-4",
  image: "/images/doodles/woman-doing-social-media.svg",
  imgAlt: "an Illustration of a woman interacting on social media",
  overview:
    "This course provides a comprehensive introduction to digital marketing, equipping you with the skills needed to grow businesses, build brands, and drive online engagement. Over 2-4 months, you will learn how to effectively market products and services using various digital platforms, including social media, search engines, email marketing, and paid advertising. The course covers SEO (Search Engine Optimization) to improve website visibility, Google Ads & Facebook Ads for targeted marketing, content marketing for brand storytelling, and email marketing strategies to nurture leads. You'll also explore analytics tools like Google Analytics to track performance and optimize campaigns. By the end of the course, you'll be able to develop and execute result-driven digital marketing strategies for businesses, personal brands, or freelance projects. Whether you're a beginner or looking to advance your skills, this course will provide hands-on experience with real-world projects to make you job-ready.",
};
---

<IndCourseDetailsLayout
  metadata={metadata}
  navSection="none"
  courseDetails={courseDetails}
>
  <slot slot="course-curriculum-slot">
    <li class="ind-course-imp-text">Introduction to Digital Marketing</li>
    <ul class="ind-course-sublist">
      <li>What is Digital Marketing?</li>
      <li>Benefits of Digital Marketing</li>
      <li>Digital vs. Traditional Marketing</li>
      <li>Digital Marketing Process Overview</li>
      <li>Types of Visibility & Increasing Engagement</li>
      <li>Bringing Targeted Traffic & Lead Conversion</li>
      <li>Conversion Types & Process</li>
    </ul>

    <li class="ind-course-imp-text">Search Engine Optimization (SEO)</li>
    <ul class="ind-course-sublist">
      <li>Introduction to SEO & SERP</li>
      <li>Keyword Research & Analysis</li>
      <li>On-Page & Off-Page Optimization</li>
      <li>Search Engine Algorithms</li>
      <li>SEO Tools Overview</li>
    </ul>

    <li class="ind-course-imp-text">Search Engine Marketing (SEM)</li>
    <ul class="ind-course-sublist">
      <li>Introduction to Paid Advertising</li>
      <li>Types of Campaigns, Campaign Setup & Structure</li>
      <li>Tools for SEM</li>
    </ul>

    <li class="ind-course-imp-text">Social Media Marketing (SMM)</li>
    <ul class="ind-course-sublist">
      <li>Social Media Platforms Overview</li>
      <li>Social Media vs. Search Engine Ads</li>
      <li>Creating & Optimizing Social Media Ads</li>
      <li>Business Marketing Strategies</li>
      <li>App Marketing & Optimization</li>
      <li>Social Media Management Tools</li>
    </ul>

    <li class="ind-course-imp-text">Social Media Optimization (SMO)</li>
    <ul class="ind-course-sublist">
      <li>Role of Social Media in Digital Marketing</li>
      <li>Choosing the Right Social Media Platform</li>
      <li>Social Media Engagement & Growth Strategies</li>
      <li>Use of Social Media Management Tools</li>
    </ul>

    <li class="ind-course-imp-text">Ecommerce Management</li>
    <ul class="ind-course-sublist">
      <li>Selling on Online Marketplaces</li>
      <li>WhatsApp Marketing Strategies</li>
    </ul>

    <li class="ind-course-imp-text">Email Marketing</li>
    <ul class="ind-course-sublist">
      <li>What is Email Marketing & Why is it Important?</li>
      <li>Popular Email Marketing Software</li>
      <li>Target Audience & Lead Generation Strategies</li>
      <li>A/B Testing for ROI Improvement</li>
    </ul>

    <li class="ind-course-imp-text">Affiliate Marketing</li>
    <ul class="ind-course-sublist">
      <li>What is Affiliate Marketing & How It Works</li>
      <li>Finding the Right Affiliate Niche</li>
      <li>Top Affiliate Marketing Networks</li>
      <li>Methods to Generate & Convert Leads</li>
      <li>Live Examples of Affiliate Earnings</li>
      <li>Getting Started with Affiliate Marketing</li>
    </ul>

    <li class="ind-course-imp-text">Referral Marketing</li>
    <ul class="ind-course-sublist">
      <li>Importance of Referral Marketing</li>
      <li>Strategies for Effective Referral Programs</li>
    </ul>

    <li class="ind-course-imp-text">Content Marketing</li>
    <ul class="ind-course-sublist">
      <li>Introduction to Content Marketing</li>
      <li>Content Marketing Strategy</li>
      <li>Writing Great & Compelling Content</li>
      <li>Keyword Research for Content Ideas</li>
      <li>Unique Headline Creation Techniques</li>
      <li>Tools for Content Creation & Marketing</li>
      <li>Cross-Platform Content Marketing Strategies</li>
    </ul>
  </slot>
</IndCourseDetailsLayout>
